
<form action="/posts" method="post">
  <!-- the form action is where this is getting sent -->
  <!-- method is what is going on, post, get, delete, patch -->
  Name<input type="text" name="name" value="">
  <!-- in front of input is what will be show in front of the box -->
  <!-- name is setting how we will call this parameter -->
  <!-- value is empty because its the user that will fill this  -->
  Content<input type="text" name="content" value="">
  <input type="submit" name="" value="submit">
  <!-- input type is submit and the button will have submit inside of it  -->
</form>
