<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      <p> Please enter a name: <input type="text" name="name"> </p>
      <p> Please enter content: <input type="text" name="content"> </p>
      <p> <input type="submit" value="submit"> </p>
    </form>
  </body>
</html>
