<form action="/posts" method="POST">
  <input id="name" type="text" placeholder="Name" name="post[name]"><br><br>
  <input id="content" type="text" placeholder="Content" name="post[content]"><br><br>
  <input id="submit" type="submit" value="Submit">
</form>
