<h1>Make a new post!</h1>
<form method="post" action="/posts">
  <label>Name: <input type="text" name="name"/></br></label>
  <label>Contents: <input type="text" name="content"/></br></label>
<input type="submit" id="submit" />
