<form action="/posts" method="post">
<Label><b>Post Name:</b><input type="text" input name="name"</Label><br><br>
<Label><b>Post Content:</b><input type="text" input name="content"</Label><br>
<input type="submit" value="submit" id="Submit" />
</form>
